UnrealEngine/UnrealEngine/
UnrealEngine/Projects Package/Android_ASTC/
!UnrealEngine/Projects Package/Android_ASTC/Tencent_Course-arm64.apk
UnrealEngine/Unreal Projects/Tencent_Course/
!UnrealEngine/Unreal Projects/Tencent_Course/Source/

